
$primary:#FF8906;
$secondary:#F25F4C;
$tertiary:#E53170;
$dark:#0F0E17;
$black:#000000;
$light:#FFFFFE;
$info:#A7A9BE;

@import "./bootstrap-5.1.3/bootstrap-5.1.3/scss/bootstrap.scss";


body{
    background-color: $dark ;
    color:$info;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $secondary;
    margin: 1em 0;
    padding: 1rem;
    img{
        width: 200px;
        height: 200px;
    }
    h1{
        font-size: 72pt;
    }
}

