
$primary:#FF8906;
$secondary:#F25F4C;
$tertiary:#E53170;
$dark:#0F0E17;
$black:#000000;
$light:#FFFFFE;
$text:#A7A9BE;


*{
    box-sizing: border-box;
}
body{
    background-color: $dark ;
    color:$text;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid $secondary;
    margin: 1.25rem 0 0 0;
    padding: 1rem;
    img{       
        width: 200px;
        height: 200px;  
        flex-grow: 0;
            
    }
    h1{
        font-size: 72pt;
        flex-grow: 0;
    }
}
img{
    width: 300px;
    height: 300px;
    flex-grow: 1;
}

.btn-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: {
        color: $primary;
    }
    border:none;
    border-radius: 8px;
    padding: 14px 18px;
    color: $light;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 28px;
    overflow-wrap: break-word;
}

#main{
    display: flex;
    flex-direction: row;

    aside{
    
        width: 30%;  
        border-right: 5px solid $secondary;
        padding:1rem;
        display: flex;
        flex-direction: column;
        img{
            height: 50px;
            width: 50px;
        }
    }
    #aside-reproductor{
        display: none;
    }
    article{
        flex-grow: 1;
    }
}
